@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    transition: 0.5s;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
   position: relative;
   max-width: 150px; 
   top:5px;
}

header ul {
   position: relative;
   display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #05cbf3;;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}

.pedido {
    position: relative;
    display: flex;
    width: 813px;
    padding-top: 105px;
    padding-bottom: 26px;
    justify-content: center;
}

.pedido h1 {
    border-style: solid;
    border-radius: 6px;
    padding: 30px 268px;
    background-color: #89ab02;
    color: #fff;
    font-weight: 700;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-bottom: 15px;
}

.content div {
    width: 25%;
    text-align: center;
}

.content div h1 {
    color: #05cbf3;;
    font-size: 2.5em;
    line-height: 2.2em;
    font-weight: 900;
    text-transform: uppercase;

} 

.content div h1 span {
    font-size: 3em;
    color: #89ab02;
}

.content div p {
    color:#05cbf3; 
  
}

.content div a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #89ab02;
    color: #fff;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .ads1 {
    padding-right: 20px;
} 

.content .ads2 {
    padding-left: 20px;
} 

.content iframe {
    width: 813px;
    min-height: 90vh;
    border: none;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 1000px) {

    section {
        padding:0;
        padding-bottom: 0;
    }

    header {
        padding: 20px 40px;
    }

    header .logo {
        position: relative;
        max-width: 80px;
    } 

     header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;

    }

    header ul li a {
        display: inline-block;
        color: #05cbf3;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    header ul li a:hover {
        color:#89ab02;

    }

    .toggleMenu {
        width:60px;
        height: 60px;
        background: url("prueba.png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
        border-radius: 11px;
    }

    .toggleMenu.active {
        background: url("pruebaClose.png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
    }

    header ul.active {
        visibility: visible;
        opacity: 1;
        filter: invert(-1);
    }

    .pedido {
        width: 100%;
        padding-top: 130px;
    }

    .pedido h1 {
        position: relative;
        width: 100%;
        border-style: solid;
        border-radius: 6px;
        text-align: center;
        padding: 24px;
    }

    .content {
        flex-direction: column;
        
    }

    .content .ads1 {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        order: 2;

    }

    .content .ads2 {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        max-width: 100%;
        order: 3;    
    }

    .content div {
        width: 50%;
        padding-top: 40px;
    }


    .content iframe {
        width: 100%;
        order: 1;
    }    
}
