@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
   position: relative;
   max-width: 150px; 
   top:5px;
}

header ul {
   position: relative;
   display: flex;
}

header ul li {
    list-style: none;
}

header ul li p {
    display: inline-block;
    color: #05cbf3;;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    position: relative;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
}

.content .textBox.active {
    position:absolute;
    visibility: hidden;
}

.content .textBox h1 {
    color: #05cbf3;;
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

} 

.content .textBox h1 span {
    font-size: 3em;
    line-height: 1em;
    color: #B6C454;

}

.content .textBox .h1Info p {
    color:#05cbf3; 
    width: 100%;
    text-align: center;
    font-size: 1em;
} 


.content .textBox .h2Tags {
    position: relative;
    display: flex;  
}

.content .textBox .h2Tags .restInfo {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    visibility: visible;

    
}

.content .textBox .h2Tags .restInfo.active {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .AcercaDeNosotros {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .AcercaDeNosotros.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content .hazTuPedido {
    position: absolute;
    visibility: hidden;
}

.content .hazTuPedido.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content .textBox .h2Tags .servicios {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .servicios.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .carta {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .carta.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .horario {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .horario.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .rrss {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .rrss.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .contacto {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .contacto.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content .textBox .h2Tags .localizanos {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .localizanos.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.content .textBox .h2Tags .ubicacion {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .ubicacion.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .promociones {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .promociones.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content .textBox .h2Tags .newsletter {
    position: absolute;
    visibility: hidden;
}

.content .textBox .h2Tags .newsletter.active {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.content .textBox .h2Tags .volver {
    width: 100%;
    color: #89ab02;
    cursor: pointer;
} 

.content .textBox p {
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #05cbf3;
    font-size: 1.5em;
    font-weight: bold;
}

.content .textBox a {
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #89ab02;
    font-size: 1em;
    font-weight: bold;
}

.content .textBox .shopButton {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #89ab02;
    color: #fff;
    border-radius: 40px;
    font-weight: 1000;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;  
}

.content .imgBox {
    width: 600px;
    display:flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: space-around;
    
}

.content .imgBox img {
    max-width: 370px;
    
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
    display:flex;
    z-index: 1;
    
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 80px;
}

.sci {
    position: absolute;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.sci li a img{
    
    max-width: 70px;
    max-height: 70px;
    
}

.waves {
    position: absolute;
    bottom: 0;
    left:0;
}

@media (max-width: 1143px) {

    section {
        padding: 80px;;
        padding-bottom: 120px;
    }

    header {
        padding: 20px 40px;
    }

    header .logo {
        position: relative;
        max-width: 80px;
    } 

     header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;

    }

    header ul li a {
        display: inline-block;
        color: #05cbf3;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }

    header ul li a:hover {
        color:#89ab02;

    }

    .toggleMenu {
        width:60px;
        height: 60px;
        background: url("prueba.png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
        z-index: 3;
        cursor: pointer;
        border-radius: 11px;
    }

    .toggleMenu.active {
        background: url("pruebaClose.png");
        background-position: center;
        background-size: 60px;
        background-repeat: no-repeat;
    }

    header ul.active {
        visibility: visible;
        opacity: 1;
        filter: invert(-1);
    }

    .content {
        flex-direction: column;
        margin-top: 80px;
    }

    .content .textBox {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }    

    .content .textBox h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .content .textBox a {
        font-size: 14px;
        padding: 8px 15px;
        text-align: center;
    }

    .content .imgBox {
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 0px;
        padding-bottom: 40px;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 350px;
        padding-bottom: 60px;
    }
    .sci {
        position: absolute;
        top: 50%;
        right:0;
        width: 50px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


@media (max-width: 607px) {
    .sci {
        position: absolute;
        top: 50%;
        right: 0;
        width: 50px;
        transform: translateY(-107%);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .content .textBox h1 {
        font-size: 1.1em;
        
    }

    .thumb li img {
        max-width: 60px;
    }

    .content .imgBox img {
        max-width: 260px;
        padding-bottom: 60px;
    }
    .content .textBox p {
        font-size: 1em;
    }

    header{
        padding: 8px 5px;
    }

    header .logo {
        position: relative;
        max-width: 60px; 
        top:5px;
    }

     .content {
         margin-top: 50px;
    }

     .sci {
        transform: translateY(44%);
        padding-right: 0px;
  
    }

    .sci li a {
       margin: -18px;
    }

     .sci li a img {
        max-width: 60px;
        max-height: 60px;
    }

    .thumb {
        bottom: 8px;
    }

    .content .imgBox {
        padding-bottom: 0px;
    }

    .content .imgBox img {
        max-width: 215px;
        padding-bottom: 36px;
        margin-right: 15%;
    }

    section {
        padding: 0px;
        padding-bottom: 0px;
    }
}

